<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <h1 class="text-center" id="suv_2">Survey 2 Result</h1>
  <main class="container-survey">
    <div>
        <div><br>
            
            
            <% if(typeof displayName == 'string' && displayName) { %>
                
            <% } %><br>
            
            <br>
            <table class="table table-bordered table-striped" id="table_2">
                <!-- Header Row-->
                <tr>
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center">Budget</th>
                        <th class="text-center">AreaCode</th>                        
                        <th class="text-center">Housing</th>
                        
                    <% } else { %>
                        <th class="text-center">Budget</th>
                        <th class="text-center">AreaCode</th>                        
                        <th class="text-center">Housing</th>
                        <th></th>
                        <th></th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveyList2.length; count++) { %>
                    <tr>
                        <% if(typeof displayName == "string" && displayName) { %>
                           <td class="text-center"><%= SurveyList2[count].budget %></td>
                           <td class="text-center"><%= SurveyList2[count].areaCode %></td>
                           <td class="text-center"><%= SurveyList2[count].housing %></td>
                           
                
                           <td class="text-center">
                            <a href="/surveylist2/edit2/<%= SurveyList2[count]._id %>" class="btn btn-primary"> <i class="fa"></i>Edit</a>
                          </td>
                          <td class="text-center">
                            <a href="/surveylist2/delete/<%= SurveyList2[count]._id %>" class="btn btn-warning btn-sm"> <i class="fa"></i>Delete</a>
                          </td>
                         <% } else { %>
                            <td class="text-center"><%= SurveyList2[count].budget %></td>
                            <td class="text-center"><%= SurveyList2[count].areaCode %></td>
                            <td class="text-center"><%= SurveyList2[count].housing %></td>
                         <% } %>
                       </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      // Draw the chart and set the chart values
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['400-600', 8],
        ['600-800', 2],
        ['800+', 2],
      ]);
      
        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Budget', 'width':550, 'height':400};
      
        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      </script>
  <h1 class="text-center" id="suv_1_b">Pie Chart For Multiple Choices</h1>
  <div id="piechart"></div>
 
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>